* {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.App-dark {
  color: #e0e0e0;
  background-color: #22134b;
}

button {
  padding: 0.5em 1.2em;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: #a864f6;
  transition: all 0.2s ease;
  font-weight: 700;
}

button:hover {
  background-color: #e24507;
}

.lightmode {
  margin-top: 10px;
  color: white;
  background-color:#22134b

}

.darkmode {
  margin-top: 10px;
  color: black;
  background-color: #e24507
}


.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-gap: 1em;
  padding: 0.5em;
}

.card-light {
  border-radius: 4px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  background-color: #22134b;
  color: #e0e0e0
}
.card-dark {
  border-radius: 4px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  background-color: #e24507;
  color: black;
}

.card button {
  border-radius: 0 0 4px 4px;
}

.card img {
  border-radius: 4px 4px 0 0;
}

.card,
.content {
  color: #e0e0e0;
}

.details .content {
  text-align: center;
}

.details button {
  margin: 1em;
}

.details img {
  width: 100%;
}

li {
  list-style-type: square;
}

.details {
  display: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}